.flags {
    position: relative;
    height: 70px;
}

.arena {
    position: relative;
}

.endline {
    position: absolute;
    width: 75px;
    height: 100%;
    right: 0;
    background: url(../images/checkered-flag.png) transparent;
    opacity: 0.6;
    margin-right: 60px;
}

.player {
    font-size: 15px;
    position: relative;
    height: 140px;
    margin: 15px 0;
    color: red;
    font-weight: bold;
}
